<div class="container-fluid fill">
    <div class="row">
        <div class="col-md" style="min-height: 400px; margin: 10px;">
            <ul class="list-group scrollable" style="max-height: 400px; margin: 10px;">
                {{#each @model.files as |file|}}
                <button type="button" class="list-group-item list-group-item-action" {{on "click" (fn this.plotFile file) }}>{{file}}</button>
                {{/each}}
            </ul>
        </div>
        <div class="col-md" style="margin: 10px;">
            <SigPlot id="plot_direct" style="width: 100%; height: 100%;" @options={{hash cmode=6}} as |plot|>
                <SigPlotHrefLayer @plot={{plot}} @href={{this.rawHref}} />
            </SigPlot>
        </div>
    </div>
    <div class="row">
        <div class="col-md" style="min-height: 400px; max-height: 400px; margin: 10px;">
            <dl class="row">
                <dt class="col-sm-3">Raw Plot URL</dt>
                <dd class="col-sm-9">{{this.rawHref}}</dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-3">SDS Plot URL</dt>
                <dd class="col-sm-9">{{this.sdsHref}}</dd>
            </dl>
        </div>
        <div class="col-md" style="margin: 10px;">
            <SigPlot id="plot_sds" style="width: 100%; height: 100%;" @options={{hash cmode=6}} as |plot|>
                <SigPlotHrefLayer @plot={{plot}} @href={{this.sdsHref}} @layerType="SDS" @options={{hash useTiles=true}}/>
            </SigPlot>
        </div>
    </div>
</div>
